# Application
NODE_ENV=development
PORT=3000

GOOGLE_SHEET_KEYFILE=apps/investment-tracker-api/config/credentials.json
GOOGLE_SHEET_ID=1xOdq0v7aDllHqs-kARN0PA4YwEq8gQR6lnVtOHt6-5c
GOOGLE_SHEET_RANGE=Prices!A1:B100

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/investment_tracker?schema=public"
